---
layout: default
languages:
- gl
- es
permalink: /how_to_arrive/
subset: index
navigation: true
---

{% include head.html %}
<body>
  {% include header.html %}
  <div class="main-container">
  <section class="contained-gallery">
    <div class="container">
      <div class="row">      
        <div class="col-md-12 col-sm-12">
          <h1 class="big centered">{% t 'presentation.title' %}</h1>              
          <h1>En tren</h1>
          <p>Algo</p>
          <h1>En bus</h1>
          <p>Algo</p>
          <h1>En avion</h1>
          <p>Algo</p>
          <h1>En coche</h1>
          <h2>Desde :  Orense / Madrid</h2>
          <ul>
            <li>Continuar por A-52 (aprox. 77 Km. desde Ourense)  y tomar salida 307</li>
            <li>Continuar por A-55 (aprox. 6.5 Km.) y tomar salida 662A</li>
            <li>Continuar por AP-9 (aprox. 12 Km.) y tomar salida 151</li>
            <li>Continuar por  A-9  y tomar la salida 4V “García Barbón, Tráfico Portuario”</li>
            <li>Continuar por el Tunel</li>
            <li>En la Glorieta tomar la dirección Avenida de Beiramar y continuar hasta el final del Tunel</li>
          </ul>
          <h2>Desde: Santiago / A Coruña</h2>
          <ul>
            <li>Continuar por AP-9 dirección Vigo</li>
            <li>Continuar por AP-9 dirección Vigo</li>
            <li>Continuar por el Tunel</li>
            <li>En la Glorieta tomar la dirección Avenida de Beiramar y continuar hasta el final del Tunel</li>
          </ul>
          <h2>Desde: Portugal / Oporto</h2>
          <ul>
            <li>Por autopista tomar dirección Valença do Minho / Espanha.</li>
            <li>Una vez entrado en territorio español, continuar por E-1 / A-55 y tomar la salida 169B</li>
            <li>Continuar en AP-9 (aprox. 30Km.) dirección Vigo / Pontevedra y tomar salida 151 (a Vigo)</li>
            <li>Continuar por  A-9  y tomar la salida 4V “García Barbón, Tráfico Portuario”</li>
            <li>Continuar por el Tunel</li>
            <li>En la Glorieta tomar la dirección Avenida de Beiramar y continuar hasta el final del Tunel</li>
          </ul>   
        </div>            
      </div>
    </div>
  </section>



    {% include call_to_action.html %}
  </div>
  {% include footer.html %}
  {% include js.html %}
</body>