---
layout: default
languages:
- gl
- es
permalink: /sanjurjo/
subset: index
navigation: true
---

{% include head.html %}
<body>
  <div class="page_header">{% include header_single_page.html %}</div>
  <div class="main-container page_body">
    <section class="contained-gallery">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h1 class="big centered">{% t 'sanjurjo.title' %}</h1>
            <p>{% t 'sanjurjo.text1' %}</p>
            <p>{% t 'sanjurjo.text2' %}</p>
            <p>{% t 'sanjurjo.text3' %}</p>
            <p>{% t 'sanjurjo.text4' %}</p>
            <p>{% t 'sanjurjo.text5' %}</p>                                                
            <p>{% t 'sanjurjo.text6' %}</p>            
          </div>
        </div>
      </div>
    </section>
    {% include call_to_action.html %}
  </div>
  {% include footer.html %}
  {% include js.html %}
</body>
