---
layout: default
languages:
- gl
- es
permalink: /:language/workshops
subset: index
navigation: false
---

{% include head.html %}
<body>
  <div class="page_header">{% include header_single_page.html %}</div>
  <div class="main-container page_body">
    <section class="contained-gallery">
      <div class="container">
        <h1 class="big centered">WORKSHOPS</h1>
        <p class="lead">{% t 'workshops.summary' %}</p>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h1>{% t 'schedule.day1.date' %}</h1>
            <ul class="schedule-overview">
              <li>
                <div class="schedule-title">
                  <span class="time">11:00 - 12:00</span>
                  <span class="title">{% t 'workshops.item1.title' %}</span>
                </div>

                <div class="schedule-text">
                  <p>{% t 'workshops.item1.summary' %}</p>
                </div>

                <div class="marker-pin">
                  <div class="top"></div>
                  <div class="middle"></div>
                  <div class="bottom"></div>
                </div>
              </li>

              <li>
                <div class="schedule-title">
                  <span class="time">13:00 - 13:30</span>
                  <span class="title">{% t 'workshops.item2.title' %}</span>
                </div>

                <div class="schedule-text">
                  <p>{% t 'workshops.item2.summary' %}</p>
                </div>

                <div class="marker-pin">
                  <div class="top"></div>
                  <div class="middle"></div>
                  <div class="bottom"></div>
                </div>
              </li>

              <li>
                <div class="schedule-title">
                  <span class="time">15:00 - 16:00</span>
                  <span class="title">{% t 'workshops.item3.title' %}</span>
                </div>

                <div class="schedule-text">
                  <p>{% t 'workshops.item3.summary' %}</p>
                </div>

                <div class="marker-pin">
                  <div class="top"></div>
                  <div class="middle"></div>
                  <div class="bottom"></div>
                </div>
              </li>

              <li>
                <div class="schedule-title">
                  <span class="time">17:00 - 18:00</span>
                  <span class="title">{% t 'workshops.item4.title' %}</span>
                </div>

                <div class="schedule-text">
                  <p>{% t 'workshops.item4.summary' %}</p>
                </div>

                <div class="marker-pin">
                  <div class="top"></div>
                  <div class="middle"></div>
                  <div class="bottom"></div>
                </div>
              </li>

              <li>
                <div class="schedule-title">
                  <span class="time">19:30 - 20:00</span>
                  <span class="title">{% t 'workshops.item5.title' %}</span>
                </div>

                <div class="schedule-text">
                  <p>{% t 'workshops.item5.summary' %}</p>
                </div>

                <div class="marker-pin">
                  <div class="top"></div>
                  <div class="middle"></div>
                  <div class="bottom"></div>
                </div>
              </li>
            </ul>
          </div>

          <div class="col-md-6 col-sm-6">
            <h1>{% t 'schedule.day2.date' %}</h1>
            <ul class="schedule-overview">
              <li>
                <div class="schedule-title">
                  <span class="time">10:00 - 11:00</span>
                  <span class="title">{% t 'workshops.item6.title' %}</span>
                </div>

                <div class="schedule-text">
                  <p>{% t 'workshops.item6.summary' %}</p>
                </div>

                <div class="marker-pin">
                  <div class="top"></div>
                  <div class="middle"></div>
                  <div class="bottom"></div>
                </div>
              </li>

              <li>
                <div class="schedule-title">
                  <span class="time">11:30 - 12:30</span>
                  <span class="title">{% t 'workshops.item7.title' %}</span>
                </div>

                <div class="schedule-text">
                  <p>{% t 'workshops.item7.summary' %}</p>
                </div>

                <div class="marker-pin">
                  <div class="top"></div>
                  <div class="middle"></div>
                  <div class="bottom"></div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </section>
    {% include call_to_action.html %}
  </div>
  {% include footer.html %}
  {% include js.html %}
</body>