<a id="visitors" class="in-page-link"></a>

<section class="duplicatable-content visitor-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{% t 'travel_info.title' %}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Auditorio Palacio de Congresos Mar de Vigo" 
               src="{{ '/assets/img/palacio_congresos_vigo.jpg' | prepend: site.url }}">
          <h3>{% t 'travel_info.location.title' %}</h3>
          <p>
            {% t 'travel_info.location.content' %}
            <a href="">{% t 'travel_info.location.see_map' %}</a>
          </p>

        </div>
      </div>
  
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Renfe" 
               src="{{ '/assets/img/renfe.jpg' | prepend: site.url }}">
          <h3>{% t 'travel_info.how_to_arrive.title' %}</h3>
          <!-- TREN -->
          <p>{% t 'travel_info.how_to_arrive.content' %}</p>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Vitrasa" src="{{ '/assets/img/vitrasa.jpg' | prepend: site.url }}">
          <h3>Transporte Urbano</h3>
          <p>
            Vigo cuenta con un servicio de transporte público conocido por el nombre de la empresa que lo gestiona Vitrasa. Puedes consultar su <a href="http://www.vitrasa.es/">web</a> o bajarte la <a href="https://play.google.com/store/apps/details?id=com.jjelosua.vigobus&hl=es">app movil</a> para informarte sobre sus lineas y horarios.
          </p>
          <p>De lunes a sábado las lineas con paradas en el Auditorio Mar de Vigo son la <strong>L10</strong> y <strong>L15B</strong>. De lunes a domingo la linea <strong>C1</strong> tiene una parada muy próxima, mas información <a href="http://www.vitrasa.es/php/index.php?pag=secciones/seccion&seccion=14">aquí</a>.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h1>{% t 'accommodation.title' %}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Hotel Eurostars Mar de Vigo" 
               src="{{ '/assets/img/eurostars-mardevigo.jpg' | prepend: site.url }}">
          <h3>{% t 'accommodation.hotel1.name' %}</h3>
          <p>{% t 'accommodation.hotel1.summary' %}</p>
          <p>{% t 'accommodation.hotel1.address' %}</p>
          <div class="text-link">
            <a href="#">{% t 'accommodation.see_map' %}</a>
            <a href="http://www.eurostarsmardevigo.com/" target="_blank">Web</a>
          </div>    
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Hotel Aguila" 
               src="{{ '/assets/img/aguila.jpg' | prepend: site.url }}">
          <h3>{% t 'accommodation.hotel2.name' %}</h3>
          <p>{% t 'accommodation.hotel2.summary' %}</p>
          <p>{% t 'accommodation.hotel2.address' %}</p>
          <div class="text-link">
            <a href="#">{% t 'accommodation.see_map' %}</a>
            <a href="http://www.hotelaguila.com/es" target="_blank">Web</a>
          </div>      
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Hotel Nautico" 
               src="{{ '/assets/img/nautico.jpg' | prepend: site.url }}">
          <h3>{% t 'accommodation.hotel3.name' %}</h3>
          <p>{% t 'accommodation.hotel3.summary' %}</p>
          <p>{% t 'accommodation.hotel3.address' %}</p>
          <div class="text-link">
            <a href="#">{% t 'accommodation.see_map' %}</a>
            <a href="http://www.hotelnautico.net/" target="_blank">Web</a>
          </div>      
        </div>
      </div>
    </div>
  </div>
</section>