<a id="visitors" class="in-page-link"></a>

<section class="duplicatable-content visitor-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{% t 'travel_info.title' %}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Auditorio Palacio de Congresos Mar de Vigo" 
               src="{{ '/assets/img/palacio_congresos_vigo.jpg' | prepend: site.url }}">
          <h3>{% t 'travel_info.location.title' %}</h3>
          <p>
            {% t 'travel_info.location.content' %}
            <a href="https://www.google.com/maps?ll=42.23314,-8.739117&z=15&t=m&hl=es&gl=US&mapclient=embed&cid=12064610116167520201" target="_blank">{% t 'travel_info.location.see_map' %}</a>
          </p>

        </div>
      </div>
  
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Renfe" 
               src="{{ '/assets/img/renfe.jpg' | prepend: site.url }}">
          <h3>{% t 'travel_info.how_to_arrive.title' %}</h3>
          <p>
            {% t 'travel_info.how_to_arrive.content1' %}
            {% capture how_to_arrive_link %}http://hacksb.vigolabs.gal/{{ page.language }}/how_to_arrive{% endcapture %}
            <a href="{{ how_to_arrive_link }}" target="_blank">{% t 'travel_info.how_to_arrive.link' %}</a>
            {% t 'travel_info.how_to_arrive.content2' %}
          </p>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Vitrasa" src="{{ '/assets/img/vitrasa.jpg' | prepend: site.url }}">
          <h3>{% t 'travel_info.transport.title' %}</h3>
          <p>
            {% t 'travel_info.transport.content1' %}
             <a href="http://www.vitrasa.es" target="_blank">web</a> 
             {% t 'travel_info.transport.content2' %}
             <a href="https://play.google.com/store/apps/details?id=com.jjelosua.vigobus&hl=es" target="_blank">app movil</a>
             {% t 'travel_info.transport.content3' %}
          </p>
          <p> 
            {% t 'travel_info.transport.content4' %}
            <a href="http://www.vitrasa.es/php/index.php?pag=secciones/seccion&seccion=14" target="_blank">aquí</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h1>{% t 'accommodation.title' %}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Hotel Eurostars Mar de Vigo" 
               src="{{ '/assets/img/eurostars-mardevigo.jpg' | prepend: site.url }}">
          <h3>{% t 'accommodation.hotel1.name' %}</h3>
          <p>{% t 'accommodation.hotel1.summary' %}</p>
          <p>{% t 'accommodation.hotel1.address' %}</p>
          <div class="text-link">
            <a href="https://www.google.es/maps/place/Av.+da+Beiramar,+57,+36202+Vigo,+Pontevedra/@42.23182,-8.7363986,17z/data=!3m1!4b1!4m2!3m1!1s0xd2f621120f8f6cb:0xa91d87581484a83d" target="_blank">{% t 'accommodation.see_map' %}</a>
            <a href="http://www.eurostarsmardevigo.com/" target="_blank">Web</a>
          </div>    
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Hotel Aguila" 
               src="{{ '/assets/img/aguila.jpg' | prepend: site.url }}">
          <h3>{% t 'accommodation.hotel2.name' %}</h3>
          <p>{% t 'accommodation.hotel2.summary' %}</p>
          <p>{% t 'accommodation.hotel2.address' %}</p>
          <div class="text-link">
            <a href="https://www.google.es/maps/place/R%C3%BAa+Victoria,+6,+36201+Vigo,+Pontevedra/@42.2388196,-8.726458,17z/data=!3m1!4b1!4m2!3m1!1s0xd2f624026a5e5b5:0x717e0ad21d370a3f" target="_blank">{% t 'accommodation.see_map' %}</a>
            <a href="http://www.hotelaguila.com/es" target="_blank">Web</a>
          </div>      
        </div>
      </div>
  
      <div class="col-md-4 col-sm-6">
        <div class="info-box">
          <img alt="Hotel Nautico" 
               src="{{ '/assets/img/nautico.jpg' | prepend: site.url }}">
          <h3>{% t 'accommodation.hotel3.name' %}</h3>
          <p>{% t 'accommodation.hotel3.summary' %}</p>
          <p>{% t 'accommodation.hotel3.address' %}</p>
          <div class="text-link">
            <a href="https://www.google.es/maps/place/R%C3%BAa+de+Luis+Taboada,+28,+36201+Vigo,+Pontevedra/@42.2399834,-8.7236434,17z/data=!3m1!4b1!4m2!3m1!1s0xd2f6241ecd4ee9d:0xa42346d17acb8852" target="_blank">{% t 'accommodation.see_map' %}</a>
            <a href="http://www.hotelnautico.net/" target="_blank">Web</a>
          </div>      
        </div>
      </div>
    </div>
  </div>
</section>