<section class="strip-divider call-to-action">
    <div class="background-image-holder parallax-background">
      <img class="background-image" alt="BG Image" src="img/grey-bg.jpg">
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>{% t 'call_to_action.title' %}</h1>
          <span class="uppercase">{% t 'call_to_action.lead' %}</span>
          <a class="btn btn-lg" 
             href="http://hacksb.eventbrite.es" 
             target="_blank">
            {% t 'call_to_action.btn' %}
          </a>
          <span class="uppercase">{% t 'call_to_action.invite_friends' %}</span>
          <a href="https://twitter.com/vigolabs"><i class="icon social_facebook"></i></a>
          <a href="https://www.facebook.com/vigolabs"><i class="icon social_twitter"></i></a>
        </div>
      </div>

    </div>
</section>