<section class="image-with-text background-dark preserve-3d">
  
  <div class="container vertical-align">
    <div class="row">
      <div class="col-md-5 col-sm-7">
        <h1 class="text-white">{% t 'description.title' %}</h1>
        <p class="lead text-white">{% t 'description.content' %}</p>
      </div>
    </div>
  </div>
  
  <div class="go-right side-image col-sm-4 col-md-6">
    <div class="background-image-holder">
      <img class="background-image" alt="About Image" src="{{ '/assets/img/side1.jpg' | prepend: site.baseurl }}">
    </div>
  </div>
  
</section>