<section class="image-with-text background-dark preserve-3d">
  
  <div class="container vertical-align">
    <div class="row">
      <div class="col-md-5 col-sm-7">
        <h1 class="text-white">Levamos séculos vivindo do mar, pero nunca tentamos facer tecnoloxía para o mar</h1>
        <p class="lead text-white">Esta hackathon nace como un intento de revolucionar aos desenvolvedores pra movelos a facer instrumentos para os barcos que en Galicia se constrúen, pra innovar como se pesca, ou para soster os nosos bancos de peixes. Son moitas as innovacións que leva un barco, son moitas as oportunidades de que Galicia volva a ser un referente.</p>
      </div>
    </div>
  </div>
  
  <div class="go-right side-image col-sm-4 col-md-6">
    <div class="background-image-holder">
      <img class="background-image" alt="About Image" src="{{ '/assets/img/astilleros.jpg' | prepend: site.baseurl }}">
    </div>
  </div>
  
</section>