<section class="duplicatable-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{% t 'faqs.title' %}</h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="faq-item">
          <p class="question">{% t 'faqs.faq1.question' %}</p>
          <p>{% t 'faqs.faq1.answer' %}</p>
        </div>
      </div>
    
      <div class="col-md-3 col-sm-4">
        <div class="faq-item">
          <p class="question">{% t 'faqs.faq2.question' %}</p>        
          <p>{% t 'faqs.faq2.answer' %}</p>
        </div>
      </div>
    
      <div class="col-md-3 col-sm-4">
        <div class="faq-item">
          <p class="question">{% t 'faqs.faq3.question' %}</p>        
          <p>{% t 'faqs.faq3.answer' %}</p>
        </div>
      </div>
    
      <div class="col-md-3 col-sm-4">
        <div class="faq-item">
          <p class="question">{% t 'faqs.faq4.question' %}</p>        
          <p>{% t 'faqs.faq4.answer' %}</p>
        </div>
      </div>
    </div>
  </div>
</section>