<div class="footer-container">      
  <footer class="short footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <span class="text-white">© Copyright 2016 VigoLabs.</span>
        </div>
  
        <div class="col-sm-9 text-right">
          <ul class="menu">
            <li><a href="http://vigolabs.gal" target="_blank">{% t 'footer.we' %}</a></li>
            <li><a href="http://vigolabs.github.io/hackvg" target="_blank">{% t 'footer.previous_edition' %}</a></li>
            <li><a class="inner-link back-to-top" href="#top">{% t 'footer.return_top' %}&nbsp;<i class="icon pe-7s-angle-up-circle"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </footer>
</div>