<section class="inline-video">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{% t 'hardware.title' %}</h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <p class="lead">{% t 'hardware.lead' %}</p>
        <p>{% t 'hardware.content' %}</p>
        <a href="#" class="btn">{% t 'hardware.call_to_action' %}</a>
      </div>
    
      <div class="col-md-6">
        <div class="embedded-video-holder">
          <img class="background-image" 
                alt="UDOO Neo Board" 
                src="{{ '/assets/img/udoo/udoo_neo.jpg' | prepend: site.baseurl }}">
        </div>
      </div>
    </div>
  </div>
</section>