<section class="inline-video" id="hardware">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="big centered">{% t 'hardware.title' %}</h1>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <p class="lead">{% t 'hardware.lead' %}</p>
        <p>{% t 'hardware.content1' %}</p>
        <p>{% t 'hardware.content2' %}</p>
      </div>
    
      <div class="col-md-6">
        <div class="embedded-video-holder">
          <img  id="udoo_bg"
                class="background-image" 
                alt="UDOO Neo Board" 
                src="{{ '/assets/img/udoo/udoo_neo.png' | prepend: site.baseurl }}">
          <div id="ytplayer" style="display:none;"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
    var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var $player;
  function onYouTubePlayerAPIReady() {
    $player = new YT.Player('ytplayer', {
      height: '300',
      width: '555',
      videoId: '8AJGhq9kgj4'
    });

    var $udoo_bg = $('#udoo_bg');
    var $udoo_video = $('#ytplayer');

    $udoo_bg.on('click', function(){
      $udoo_video.css('display','block');
      $udoo_bg.css('display','none');
      $player.playVideo();
    });
  }
</script>