<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/skrollr.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/spectragram.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/flexslider.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/jquery.plugin.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/jquery.countdown.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/lightbox.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/smooth-scroll.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/twitterfetcher.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/placeholders.min.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/scripts.js' | prepend: site.url }}"></script>
<script src="{{ '/assets/js/custom.js' | prepend: site.url }}"></script>