<a id="home" class="in-page-link"></a>
<section class="hero-slider">
  <ul class="slides">
    <li class="video-header">
      <div class="background-image-holder parallax-background">
        <img class="background-image" 
              alt="Background Image" 
              src="{{ '/assets/img/jumbotron_bg2.jpg' | prepend: site.baseurl }}">
      </div>          
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
            <img alt="logo" class="logo" 
                 src="{{ '/assets/img/logo_hacksb.png' | prepend: site.baseurl }}">
            <span class="uppercase text-white">{% t 'jumbotron.event_date' %}</span>
            <h1 class="large-h1 text-white">{% t 'jumbotron.title' %}</h1>
            <a href="http://hacksb.eventbrite.es" 
               class="btn"
               target="_blank">
              {% t 'jumbotron.call_to_action' %}
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>