<a id="speakers" class="in-page-link"></a>

<section class="speakers duplicatable-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>{% t 'organizers.title' %}</h1>
      </div>
    </div>
    
    <div class="row">
  
      <div class="col-md-6 col-sm-12">
        <div class="speaker-with-bio">
          <div class="speaker">
            <div class="image-holder">
              <img class="background-image" 
                   alt="Jesús Sayar" 
                   src="{{ '/assets/img/organizers/jesus.jpg' | prepend: site.url}}">
              <div class="hover-state text-center preserve3d">
                <div class="social-links vertical-align">
                  <a href="https://twitter.com/jsayar" target="_blank"><i class="icon social_twitter"></i></a>
                  <a href="https://www.linkedin.com/in/jesussayar" target="_blank"><i class="icon social_linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="speaker-description">
            <h2>{% t 'organizers.organizer1.name' %}</h2>
            <span class="sub">{% t 'organizers.organizer1.job' %}</span>
            <p>{% t 'organizers.organizer1.bio' %}</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-sm-12">
        <div class="speaker-with-bio">
          <div class="speaker">
            <div class="image-holder">
              <img class="background-image" 
                   alt="Eloy Coto" 
                   src="{{ '/assets/img/organizers/eloy.jpg' | prepend: site.url }}">
              <div class="hover-state text-center preserve3d">
                <div class="social-links vertical-align">
                  <a href="https://twitter.com/eloycoto" target="_blank"><i class="icon social_twitter"></i></a>
                  <a href="https://www.linkedin.com/in/eloycoto" target="_blank"><i class="icon social_linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="speaker-description">
            <h2>{% t 'organizers.organizer2.name' %}</h2>
            <span class="sub">{% t 'organizers.organizer2.job' %}</span>
            <p>{% t 'organizers.organizer2.bio' %}</p>
          </div>
        </div>
      </div>
  
    </div>       
  </div>
</section>
