<a id="schedule" class="in-page-link"></a>

<section class="schedule">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h1>{% t 'schedule.day1.date' %}</h1>
        <ul class="schedule-overview">
          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day1.item1.time' %}</span>
              <span class="title">{% t 'schedule.day1.item1.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day1.item1.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day1.item2.time' %}</span>
              <span class="title">{% t 'schedule.day1.item2.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day1.item2.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day1.item3.time' %}</span>
              <span class="title">{% t 'schedule.day1.item3.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day1.item3.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day1.item4.time' %}</span>
              <span class="title">{% t 'schedule.day1.item4.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day1.item4.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day1.item5.time' %}</span>
              <span class="title">{% t 'schedule.day1.item5.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day1.item5.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day1.item6.time' %}</span>
              <span class="title">LOLA{% t 'schedule.day1.item6.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day1.item6.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day1.item7.time' %}</span>
              <span class="title">{% t 'schedule.day1.item7.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day1.item7.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-6 col-sm-6">
        <h1>{% t 'schedule.day2.date' %}</h1>
        <ul class="schedule-overview">
          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day2.item1.time' %}</span>
              <span class="title">{% t 'schedule.day2.item1.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day2.item1.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day2.item2.time' %}</span>
              <span class="title">{% t 'schedule.day2.item2.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day2.item2.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day2.item3.time' %}</span>
              <span class="title">{% t 'schedule.day2.item3.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day2.item3.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day2.item4.time' %}</span>
              <span class="title">{% t 'schedule.day2.item4.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day2.item4.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day2.item5.time' %}</span>
              <span class="title">{% t 'schedule.day2.item5.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day2.item5.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>

          <li>
            <div class="schedule-title">
              <span class="time">{% t 'schedule.day2.item6.time' %}</span>
              <span class="title">{% t 'schedule.day2.item6.title' %}</span>
            </div>

            <div class="schedule-text">
              <p>{% t 'schedule.day2.item6.summary' %}</p>
            </div>

            <div class="marker-pin">
              <div class="top"></div>
              <div class="middle"></div>
              <div class="bottom"></div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
