<section class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Patrocinadores</h1>
      </div>
    </div><!--end of row-->
  
    <!-- ORO -->
    <div class="row golds">
      <div class="col-sm-10 col-sm-offset-2">
        <div class="col-md-4 col-sm-4 sponsor-column">
          <div class="sponsor gold text-center">
            <div class="logo">
              <a href="http://www.marineinstruments.es/" target="_blank">
                <img alt="Marine Instruments" src="{{ '/assets/img/marine.png' | prepend: site.baseurl }}">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 sponsor-column">
          <div class="sponsor gold text-center">
            <div class="logo">
              <a href="https://www.abanca.com/gl/" target="_blank">
                <img alt="A Banca" src="{{ '/assets/img/abanca.png' | prepend: site.baseurl }}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PLATA -->
    <div class="row silvers">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-md-6 col-sm-6 sponsor-column">
          <div class="sponsor silver text-center">
            <a href="http://r.gal" target="_blank">
              <img alt="Sponsor" src="{{ '/assets/img/r.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 sponsor-column">
          <div class="sponsor silver text-center">
            <a href="http://www.softwhisper.es" target="_blank">
              <img alt="Sponsor" src="{{ '/assets/img/softwhisper.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- BRONCE -->
    <div class="row bronzes">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-md-3 col-sm-6 sponsor-column">
          <div class="sponsor bronze text-center">
            <a href="http://www.ultreia.es" target="_blank">
              <img alt="Ultreia" src="{{ '/assets/img/ultreia.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
    
        <div class="col-md-3 col-sm-6 sponsor-column">
          <div class="sponsor bronze text-center">
            <a href="http://www.iqube.es" target="_blank">
              <img alt="Centum RT" src="{{ '/assets/img/centum.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
    
        <div class="col-md-3 col-sm-6 sponsor-column">
          <div class="sponsor bronze text-center">
            <a href="http://www.ipglobal.es/" target="_blank">
              <img alt="Ipglobal" src="{{ '/assets/img/ipglobal.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
      
        <div class="col-md-3 col-sm-6 sponsor-column">
          <div class="sponsor bronze text-center">
            <a href="http://bricogeek.com" target="_blank">
              <img alt="BricoGeek" src="{{ '/assets/img/bricogeek.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- COLABORADORES -->
    <div class="row collaboratos">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-md-2 col-sm-6 sponsor-column">
          <div class="sponsor collaborator text-center">
            <a href="http://www.gadisa.es/gadis" target="_blank">
              <img alt="Gadis" src="{{ '/assets/img/gadis.jpg' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
    
        <div class="col-md-2 col-sm-6 sponsor-column">
          <div class="sponsor collaborator text-center">
            <a href="http://dominio.gal" target="_blank">
              <img alt="Puntogal" src="{{ '/assets/img/puntogal.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
    
        <div class="col-md-2 col-sm-6 sponsor-column">
          <div class="sponsor collaborator text-center">
            <a href="http://ajevigo.es" target="_blank">
              <img alt="AJE Vigo" src="{{ '/assets/img/aje.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
      
        <div class="col-md-2 col-sm-6 sponsor-column">
          <div class="sponsor collaborator text-center">
            <a href="http://hoxe.vigo.org" target="_blank">
              <img alt="Concello de Vigo" src="{{ '/assets/img/concello_vigo.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>

        <div class="col-md-2 col-sm-6 sponsor-column">
          <div class="sponsor collaborator text-center">
            <a href="http://www.atdp.es" target="_blank">
              <img alt="ATDP" src="{{ '/assets/img/atdp.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>

        <div class="col-md-2 col-sm-6 sponsor-column">
          <div class="sponsor collaborator text-center">
            <a href="http://www.udoo.org" target="_blank">
              <img alt="UDOO" src="{{ '/assets/img/udoo.png' | prepend: site.baseurl }}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>