<section class="topics duplicatable-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Topics Covered</h1>
      </div>
    </div><!--end of row-->
    
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="topic">
          <i class="pe-7s-browser"></i>
          <h3>PHP Development</h3>
          <p class="lead">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
          </p>
          <ul class="ruled-list">
            <li>Introduction to PHP</li>
            <li>How PHP changed the web</li>
            <li>Why developers love PHP</li>
            <li>Improving WordPress workflow</li>
          </ul>
        </div>
      </div><!--end of individual topic-->
      
      <div class="col-md-4 col-sm-6">
        <div class="topic">
          <i class="pe-7s-loop"></i>
          <h3>Grunt Workflow</h3>
          <p class="lead">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
          </p>
          <ul class="ruled-list">
            <li>Introduction to PHP</li>
            <li>How PHP changed the web</li>
            <li>Why developers love PHP</li>
            <li>Improving WordPress workflow</li>
          </ul>
        </div>
      </div><!--end of individual topic-->
      
      <div class="col-md-4 col-sm-6">
        <div class="topic">
          <i class="pe-7s-user"></i>
          <h3>UI / UX Design</h3>
          <p class="lead">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
          </p>
          <ul class="ruled-list">
            <li>Introduction to PHP</li>
            <li>How PHP changed the web</li>
            <li>Why developers love PHP</li>
            <li>Improving WordPress workflow</li>
          </ul>
        </div>
      </div><!--end of individual topic-->
    </div><!--end of row-->    
  </div>
</section>
