.golds, .silvers {
  margin-bottom: 10px;
}
.sponsor {
  height: inherit;
  position: relative;
  width: 100%;
}

.sponsor .logo {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sponsor .logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.sponsor.gold{
  height: 150px;
}

.sponsor.gold img {
  max-height: 150px;
  max-width: 300px;
}

.sponsor.silver img {
  max-height: 90px;
  max-width: 300px;
}

.sponsor.bronze img {
}

.sponsor.collaborator img {
    max-height: 30px;
}

/* General */
.btn {
  background: #00aaeb;
}

.btn:hover {
  background: #0e80ea;
}

p a, .text-link a {
  color: #0eadea !important;
  border-color: #0eadea;
}

.container h1.big {
  font-size: 40px;
}

.container h1.centered {
  text-align: center;
}

.embedded-video-holder {
  cursor: pointer;
}

.strip-1,
.strip-2,
.strip-3 {
  width: 20px;
  height: 20px;
  background: #0072bc;
  position: relative;
  -webkit-animation: stripMove 2s ease infinite alternate;
  animation: stripMove 2s ease infinite alternate;
  -moz-animation: stripMove 2s ease infinite alternate;
}
.strip-2 {
  -webkit-animation-duration: 2.1s;
  animation-duration: 2.1s;
  background-color: #23a8ff;
}
.strip-3 {
  -webkit-animation-duration: 2.2s;
  animation-duration: 2.2s;
  background-color: #89d1ff;
}

/* Color Blocks */

.color-blocks i {
  color: #00aaeb;
}

.block-left, .block-right {
  background-color: #00aaeb;
}

/* hardware */
#hardware {
  background: #fff;
}

/* Features */
.feature {
  text-align: center;
}

.feature .title {
  font-size: 25px;
  margin-top: 10px;
}

.feature .summary {
  font-size: 14px;
}

/* How to arrive */
.page_body h1{
  margin-top: 20px;
}

.page_body h2{
  margin: 20px 0;
}

.page_body h3 {
  margin: 20px 0;
}

.page_body ul {
  list-style-type: circle;
  margin-left: 30px;
}

.page_body ul.schedule-overview {
  list-style-type: none;
}

.page_header .overlay-nav {
  background: #000;
}

.page_header .bottom-border {
  bottom: 0px;
  height: 0px;
}

.page_header .nav-dropdown {
  background: #000;
}

.page_header .nav-dropdown a {
  color: #fff;
}

/* Ideas */
.idea img {
  margin-bottom: 20px;
}